<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Mobile Automation Suite" verbose="1">
    <test name="Base Setup">
        <classes>
            
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="com.globant.mobile.tests.NavigationTest"/>
        </classes>
    </test>

    <test name="Sign Up Tests">
        <classes>
            <class name="com.globant.mobile.tests.SignUpTest"/>
        </classes>
    </test>
</suite>